.follow-icons {
    float:right
}

.follow-icon {
    color: var(--primary);
    transition: color 0.5s ease;
}

a.follow-icon:hover{
    color: var(--info);
    transition: color 0.5s ease;
    text-decoration: none;
}

.fav-stack{
    text-align: center;
    color: var(--gray-dark);
}

.fav-icon,
.fav-index{
    color: var(--gray-dark);
    transition: color 0.1s ease;

}

a.fav-link:hover{
    text-decoration: None;
}

a:hover .fav-icon,
a:hover .fav-index{
    color: var(--primary);
    transition: color 0.1s ease;
}

.featured-display{
    text-align: center;
}

#home-jumbo{
    padding: 10;
}

.figure .caption{
    font-style: italic;
    size: 0.8em;
}

.btn-read-more{
    text-align: center;
}

.index-image {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

.post-index-card .card-title {
    text-align: center;
}

.table.blog-table .head{
    text-align: center;
    size: 1.5em;
    background-color:  #c3dbf7;
}

.table.blog-table td{
    text-align: center;
}

.table.blog-table {
    margin-left: 5%;
    margin-right: 5%;
}
pre.code {
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
    white-space: pre;
  }

sticky-top addthis_inline_share_toolbox{
    text-align: center;
}

#logo{
    height: 2em;
}

.at-share-btn-elements {
    text-align: center;
}

.about-me {
    text-align: center;
}

.about-me-share a.about-icon{
    color: var(--info);
}

.rust-playground{
    text-align: right;
}

.mc-signup{
    text-align: center;
}

#quick-links {
    margin-right: 0;
    margin-left: 0;
}

.update-header {
    font-size: 1.5em;
    color: var(--primary);
}

.twitter-tag {
    background-color:#1DA1F2;
    color: white;
    padding: 0.25em 0.4em;
    font-size: 75%;
    border-radius: 0.25rem;
    font-weight: 700;
}

a.twitter-tag {
    text-decoration: none;
}

a.twitter-tag:hover{
    color: white;
    background-color: #033250;
}

.card-announcements .card-header {
    background-color: var(--primary);
    color: var(--secondary);
}

.card-announcements .announcements-title {
    font-size: 2em;
}

.card-announcements .collapse-button {
    float: right;
    color: var(--secondary);
    font-size:1em;

}

.project-title-block .project-icons {
    float: right;
}

.project-card .project-image {
    display: flex;
    align-items: center;
}

.project-card .project-image img{
    max-height: 75px;
}

.project-title-block {
    color: var(--primary);
    font-size: 1.5em;
}

.project-title-block a.card-title:hover {
    text-decoration: none;
}

.alert .alert-header{
    font-weight: 700;
}