.follow-icons {
    float:right
}

.follow-icon {
    color: var(--primary);
    transition: color 0.5s ease;
}

a.follow-icon:hover{
    color: var(--info);
    transition: color 0.5s ease;
    text-decoration: none;
}

.fav-stack{
    text-align: center;
    color: var(--gray-dark);
}

.fav-icon,
.fav-index{
    color: var(--gray-dark);
    transition: color 0.1s ease;

}

a.fav-link:hover{
    text-decoration: None;
}

a:hover .fav-icon,
a:hover .fav-index{
    color: var(--primary);
    transition: color 0.1s ease;
}

.featured-display{
    text-align: center;
}

#home-jumbo{
    padding: 10;
}

.figure .caption{
    font-style: italic;
    size: 0.8em;
}

.btn-read-more{
    text-align: center;
}

.index-image {
    max-height: 200px;
    min-height: 150px;
    object-fit: cover;
}

.post-index-card .card-title {
    text-align: center;
}

.table.blog-table .head{
    text-align: center;
    size: 1.5em;
    background-color:  #c3dbf7;
}

.table.blog-table td{
    text-align: center;
}

.table.blog-table {
    margin-left: 5%;
    margin-right: 5%;
}

code {
    font-size: 87.5%;
    color: #000000;
    word-wrap: break-word;
  }

pre.code {
    margin-left: 0;
    margin-right: 0;
    overflow: auto;
    white-space: pre;
  }