<div class="row h-100">
    <div class="col-lg-8 col-md-12">
        <H1>My First Podcast!</H1>

        <p>I'm thrilled to have been invited as a guest on <a href="https://youtu.be/RZx7bc2UH1s">episode 157</a> of <a href="https://twitter.com/ODellHarmonJr">O'Dell Harmon Jr's</a> <a href="https://twitter.com/FCPodcast23">Full Circle Podcast</a>. Hear hot takes on Nintendo as we break down the Skyward Sword remake while O'Dell tries to avoid spoiling the story for my first play through. Then we dive headfirst into the Steam Deck where I geek out about about the potential this portable PC can offer. Finally, O'Dell dawns his tin-foil hat as we speculate the rumors of a Netflix-Playstation partnership, and what it could mean for the future of streaming.</p>
        
        <p>Be sure to follow O'Dell for more great content!</p>

        <div class="twitter-links">
            <a class=twitter-tag href=https://twitter.com/ODellHarmonJr>@ODellHarmonJr</a>
            <a class="twitter-tag" href=https://twitter.com/FCPodcast23>@FCPodcast23</a>
        </div>
        <div class="jumbotron-footer mt-4">
            <a class="fab fa-apple follow-icon fa-2x mx-2" href="https://t.co/JZdE0eNvSr?amp=1"></a>
            <a class="fab fa-spotify follow-icon fa-2x mx-2" href="https://t.co/DeYH32NlCS?amp=1"></a>
            <a class="fab fa-google follow-icon fa-2x mx-2" href="https://t.co/RaR4hpibvT?amp=1"></a>
            <a class="fab fa-youtube follow-icon fa-2x mx-2" href="https://t.co/OzhZdIpQcB?amp=1"></a>
        </div>
    </div>

    <div class="col-lg-4 d-none d-lg-block">
        <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="/jumbotron_video.mp4" allowfullscreen></iframe>
        </div>  
    </div>
</div>