{% extends 'base.tmpl' %}
{% import 'post_header.tmpl' as pheader with context %}


{% block content %}
<div class="content col-lg-9 col-md-12">
{{ post.text() }}
</div>
<div class="extra-content colg-lg-3 col-md-12">
</div>
{% endblock %}