{% macro mail_chimp() %}
<!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup" class="alert alert-info mc-signup">
<h2>Get Notified of New Content!</h2>
<div class= "mc-signup-blurb">
All my ramblings straight to your Inbox
</div>
<hr>
    <form action="https://fotonixx.us6.list-manage.com/subscribe/post?u=ed786630410d3ae8cc7b82748&amp;id=7b2d390e9d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
            <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" aria-describedby="emailHelp" placeholder="Email...">
        </div>
        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ed786630410d3ae8cc7b82748_7b2d390e9d" tabindex="-1" value=""></div>
        <button type="submit" class="btn btn-primary btn-block">subscribe</button>
        <div class="spam-callout">
        🔒 No spam. Unsubscribe any time. 📧
        </div>
    </form>
</div>
<!--End mc_embed_signup-->
{% endmacro %}}

{% macro popular_tags() %}
    <div class="alert alert-primary popular-tags" align="center">
    <h3>Popular Tags</h3>
    <hr>
    <ul class="tags popular-tags" itemprop="keywords">
    {% for tag in ["python", "rust", "ray tracing"] %}
    <li>
        <a class="tag p-category " href="/categories/{{ tag.replace(" ","-") }}/" rel="tag">{{ tag }}</a>
    <li>
    {% endfor %}
    </ul>
    <a class="btn btn-link" href="/categories/">View All</a>
    </div>
{% endmacro %}

{% macro addthis_share() %}
    <div class="addthis_inline_share_toolbox mx-auto"></div>
{% endmacro %}
